<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron">
<h1>Plese sign-up here </h1>
{% if users_info %}
<ol>
    {% for user in users_info %}
    <li>User Info:</li>
    <ul>First Name: {{user.first_name}}</ul>
    <ul>Last Name: {{user.last_name}}</ul>
    <ul>Email ID: {{user.email}}</ul>
    {% endfor %}
</ol>
{%else%}
<p> No users found</p>
{% endif %}
        </div>
    </div>
</body>
</html>